.choose-heading{
    position: relative;
    top: 13vh;
}
.choose_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 89%;
    position: relative;
    top: 35vh;
}
.about .card{
    border-top: 5px solid #477855;
}





/*.about_content_container_vm img:first-child{*/
/*    position: absolute;*/
/*    left: 20vw;*/
/*    margin-top: 80px;*/
/*}*/
/*.about_content_container_vm img:nth-child(2){*/
/*    position: absolute;*/
/*    right: 20vw;*/
/*    margin-top: 80px;*/
/*}*/
/*.about_content_container_vm img:nth-child(3){*/
/*    position: absolute;*/
/*    left: 20vw;*/
/*    margin-top: 170px;*/
/*}*/
/*.about_content_container_vm img:nth-child(4){*/
/*    position: absolute;*/
/*    left: 20vw;*/
/*    margin-top: 170px;*/
/*}*/






.card{
    background: #fff;
    border-top: 5px solid #477855;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    flex: 1 1 21%;
    max-width: 23%;
    transition: background 0.9s, color 0.9s;
    position: relative;
    overflow: hidden;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #477855;
    z-index: 0;
    transition: transform 0.3s;
    transform: translateY(-100%);
}

.card:hover::before{
    transform: translateY(0);
}

.card-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

.card h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s;
}

.card p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    transition: color 0.3s;
}

.card:hover .card-content,
.card:hover h2,
.card:hover p {
    color: white;
}

/* Media queries*/

@media (max-width: 1200px) {
    .choose-heading{
        transform: scale(0.8);
    }
    .card {
        flex: 1 1 46%;
        max-width: 48%;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 96%;
        max-width: 98%;
    }
}
@media (max-width: 425px) {
    .choose-heading{
        transform: scale(0.5);
        top: 7vh;
    }
    .choose_container {
        top: 20vh;
    }
}
@media (max-width: 375px) {
    .choose-heading{
        transform: scale(0.5);
    }
}

@media (max-width: 425px), (max-width: 375px) {
    /* Add a specific style to disable AOS CSS */
    link[href="https://unpkg.com/aos@next/dist/aos.css"] {
        display: none !important;
    }
}