@font-face {
    font-family: 'Special Alphabet 4';
    src: url('../fonts/SpecialAlphabets-4.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    cursor: none;
    overflow-x: hidden;
}
.hero-section #container {
    width: 102%;
    position: absolute;
    top: 19vh;
    left: 49%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}
.hero-section .container p {
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 10px 0;
}
.hero-section .container .fade-up:first-child {
    font-size: 65px;
    font-weight: 800;
    color: white;
}
.hero-section .container .fade-up:nth-child(2) {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-top: -35px;
    color: #DDDDDD;
    font-weight: 700;
}
.hero-section .container .fade-up:nth-child(3) {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-top: 0.5px;
    line-height: 24px;

}
.hero-section .social-box {
    position: fixed;
    top: 40vh;
    right: 0;
    width: 42px;
    height: 180px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(57, 96, 68, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 100000;
}
.social-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    transition: transform 0.3s;
    text-decoration: none;
}
.social-icon:hover {
    transform: scale(1.4);
}
.social-icon .fa-facebook-f:hover {
    color: #073795;
}
.social-icon .fa-instagram:hover {
    color: #EB05FF;
}

/* Custom styling for the "X" */
.twitter-x {
    font-family: 'Special Alphabet 4', sans-serif;
    font-weight: bold;
}
.twitter-x:hover {
    color: #000;
}

/*Media queries*/

/*@media (min-width: 1440px) {*/
/*    .hero-section .container {*/
/*        top: 36vh;*/
/*    }*/
/*}*/
@media (max-width: 1024px) {
    .hero-section #container {
        top: 30vh;
    }
    .hero-section .container .fade-up:first-child {
        font-size: 47px;
    }
    .hero-section .container .fade-up:nth-child(2) {
        font-size: 20px;
    }
    .hero-section .container .fade-up:nth-child(3) {
        font-size: 16px;
    }
    .social-box {
        top: 32vh;
        transform: scale(0.8);
    }
}
@media (max-width: 768px) {
    .hero-section .container .fade-up:first-child {
        font-size: 40px;
    }
    .hero-section .container .fade-up:nth-child(2) {
        font-size: 25px;
        margin-top: -30px;
    }
    .hero-section .container .fade-up:nth-child(3) {
        font-size: 14px;
    }
    .social-box { !important;
        top: 32vh;
        transform: scale(0.8);
        right: -6px;
    }
    .hero-section #container {
        top: 20vh;
    }
    #logo {
        top: 1%;
    }
}
@media (max-width: 688px) {
    .bg-img {
        visibility: hidden;
    }
    .hero-section #container{
        background-color: #20362A;
        /*z-index: 100;*/
    }
    #home{
        background-color: #20362A;
        height: 400px;
    }
}

@media (max-width: 552px) {
    .hero-section .social-box {
        position: fixed;
        display: inline; !important;
        padding-right: 3vw;
        top: 2px;
        right: 0;

        transform: scale(0.71);
        width: auto;
        height: auto;
        background-color: transparent;
    }
    .social-icon{
        align-items: center;
        margin-right: 10px;
    }
    #home{
        background-color: #20362A;
        height: 470px;
    }
}
@media (max-width: 425px) {

    .hero-section .social-box {
        transform: scale(0.6);
        right: 0;
    }
    #home{
        background-color: #20362A;
        height: 567px; !important;
    }
    .hero-section #container{
        top: 52vh;
    }

}










