/*.click_effect {*/
/*    position: absolute;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border: 5px solid #104400;*/
/*    pointer-events: none;*/
/*    margin-top: -30px;*/
/*    margin-left: -30px;*/
/*    animation-name: click_animation;*/
/*    animation-duration: 0.8s;*/
/*    animation-timing-function: linear;*/
/*}*/
/*@keyframes click_animation {*/
/*   0%{*/
/*       opacity: 1;*/
/*       transform: scale(0.1);*/
/*   }*/
/*    10%{*/
/*        opacity: 1;*/
/*        transform: scale(0.2);*/
/*    }*/
/*    20%{*/
/*        opacity: 1;*/
/*        transform: scale(0.3);*/
/*    }*/
/*    30%{*/
/*        opacity: 1;*/
/*        transform: scale(0.4);*/
/*    }*/
/*    40%{*/
/*        opacity: 0.9%;*/
/*        transform: scale(0.5);*/
/*    }*/
/*    50%{*/
/*        opacity: 0.7%;*/
/*        transform: scale(0.6);*/
/*    }*/
/*    60%{*/
/*        opacity: 0.5%;*/
/*        transform: scale(0.7);*/
/*    }*/
/*    70%{*/
/*        opacity: 0.3%;*/
/*        transform: scale(0.8);*/
/*    }*/
/*    80%{*/
/*        opacity: 0.1%;*/
/*        transform: scale(0.9);*/
/*    }*/
/*    90%{*/
/*        opacity: 0;*/
/*        transform: scale(1);*/
/*    }*/
/*    100%{*/
/*        opacity: 0;*/
/*        transform: scale(1);*/
/*    }*/
/*}*/