.navbar {
    background: linear-gradient(45deg, #4B6856, #20362A);
    height: 60px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 0.5rem;
    z-index: 1000000;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.nav-link {
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active {
    color: #ffffff !important;
}
.nav-item {
    display: inline;
    margin-right: 40px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    z-index: 1000000;
}
.nav-item a {
    color: #ffffff;
}
.nav-item a:hover {
    color: #009970;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0ac490 !important;
}

/* Media queries*/

@media (max-width: 1024px) {
    .nav-item {
        font-size: 12px;
    }
    #logo {
        transform: scale(0.8);
    }

}

@media (min-width: 991px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 992px) {
    .offcanvas-body {
        background-color: #20362A;
    }
    #logo {
        transform: scale(0.75);
        top: 10px;
        left: 10px;
    }
    .navbar {
        height: 54px;
        margin: 0;
    }
    .navbar-toggler {
        position: fixed;
        top: 10px;
        right: 10px;
        color: #DDDDDD;
    }
}
@media (max-width: 425px) {
    #logo {
        transform: scale(0.6);
        top: 10px;
        left: 10px;
    }
    .navbar-toggler {
        transform: scale(0.8);
        top: 10px;

    }

}
